body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}


header {
  background: #4CAF50; 
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header h1 {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

header nav ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  color: #e8491d;
}


#recursos {
  background-color: #fff;
  padding: 30px 0;
}

.resource-item {
  background-color: #f1f1f1;
  padding: 15px;
  margin-bottom: 15px;
  border-left: 5px solid #4CAF50; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resource-item h3 {
  color: #4CAF50;
}

.resource-item a {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
}

.resource-item a:hover {
  color: #e8491d;
}

.resource-item p {
  color: #333;
}

.resource-item:hover {
  background-color: #e9e9e9;
}


#capacitacion {
  background-color: #e8491d; 
  color: #ffffff;
  padding: 30px 0;
}

#capacitacion h2 {
  text-align: center;
}

#capacitacion p {
  text-align: center;
  font-size: 18px;
}

footer {
  background-color: #35424a;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}
